.details_container {
  height: 100vh;
  margin-top: 50px;

  .form_container {
    display: flex;
    flex-direction: column;
    align-items: center;

         div {
          margin-top: 10px;
      
          @media (max-width: 767px) {
            justify-content: center;
          }
      
        input {
          height: 60px !important;
          width: 67px !important;
          margin: 26px 10px 10px 0px !important;

      
        //   &:focus-visible {
        //     outline: 1px solid $baseblue;
        //     border: none;
        //   }
        }
      }

    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 56.35px;
      text-align: center;
      color: #3777ff;
    }

    p{
font-size: 24px;
font-weight: 500;
width: 500px;
text-wrap: wrap;
line-height: 36px;
text-align: center;

    }
  }


  .btn_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .btn {
    background: linear-gradient(93.35deg, #EB9757 0.63%, #EB57E3 103.13%);
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 30px;
    width: 551px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  
    &:focus {
      outline: none;
    }
  }
}
