.footer {
    border-top: 0.5px solid transparent;
    padding: 20px 10px;
    text-align: center;
    // box-shadow: 0px -3px 12px #0000000A;
    box-shadow: 5px 0 3px -3px var(--sidebarbrdr);
    background-color: var(--sidebar-bg);
    margin-top: auto;
    // width: 100%;
  
    @media (max-width: 767px) {
      display: none;
    }
  
    &__text {
      color: var(--headerText);
      font-size: 14px;
      font-weight: normal;
    }
  }
  